<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" href="#">COSW Angular4</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="/" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="/tasks" routerLink="/tasks">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="/edit" routerLink="/edit">Edit</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>